@page "/TS/Automovel/ListarAutomovel"
@using System.Net.Http
@inject HttpClient Http
@inject NavigationManager NavigationManager

<h3>Listar Automovels</h3>

    <head>
        <meta charset="UTF-8">
        <title>Catalogo LoCAR</title>
        <link rel="stylesheet" href="reset.css">
    </head>

    <body>
        <div style="align-self: center;">
        <div class="card border-success mb-3" style="width: 12rem; margin">
            <img  class="card-img-top" src="https://www.automaistv.com.br/wp-content/uploads/2020/07/toyota_corolla_hybrid_sedan_86_edited.jpg">
            <div class="card-body">
                <h5 class="card-title, text-center">Toyota Corolla</h5>
                <div style="display: inline-flex;" class="container">
                <div style="margin-right: 50px ;" class="row">
                    <div class="col, text-sm">Sedan</div>
                    <div class="col, text-sm">2018</div>
                </div>
                <div  class="row">    
                    <div class="col, text-sm">Automático</div>
                    <div class="col, text-sm">R$500,00</div>
                </div>
                </div>
            </div>
        </div>
        <button>Alugar</button>
        </div>
    </body>

@code {
    
    private List<Automovel> AutomovelList = new List<Automovel>();
    private List<TagAutomovel> TagAutomovelList = new List<TagAutomovel>();
    private List<Tag> TagList = new List<Tag>();

    //private Automovel Automovel = new Automovel();
    private Tag tag = new Tag();


    int idC;
    protected override async Task OnInitializedAsync()
    {
        var Automovels = await Http.GetFromJsonAsync<List<Automovel>>("/Automovel/Listar");
        foreach (var item in Automovels)
        {
            AutomovelList.Add(item);

        }

        var tgp = await Http.GetFromJsonAsync<List<TagAutomovel>>("/TagAutomovel/LTagAutomovel");//Rota para o controller ir e trazer uma lista das Tags
        foreach (var item in tgp)
        {
            TagAutomovelList.Add(item);
        }

        var tags = await Http.GetFromJsonAsync<List<Tag>>("/Tag/ListarTAG");//Rota para o controller ir e trazer uma lista das Tags
        foreach (var item in tags)
        {
            TagList.Add(item);//adiciona cada item na TagList

        }
    }
    private async Task<string> PegaridP()
    {
      
        var Automovel = await Http.GetFromJsonAsync<Automovel>($"/TagAutomovel/IdP"+idC);
        return Automovel.Nome;
    }


    private async Task Deletar(int AutomovelId)
    {
        //call controller
        await Http.DeleteAsync("/Automovel/Deletar/" + AutomovelId);
        NavigationManager.NavigateTo("TS/Automovel/ListarAutomovel", true);
    }

}
