@page "/TS/Vendedor/ListarProdutoVendedores"
@using System.Net.Http
@inject HttpClient Http
@inject NavigationManager NavigationManager

<h3>ListarProdutoVendedores</h3>


<div class="card-body">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Nome</th>
                <th scope="col">Produto</th>
            </tr>
        </thead>

        @foreach (var vendedor in VendedorList) //roda a lista de produtos
        {
            <tbody>
                <tr>
                    <td>@vendedor.Nome</td>
                    @foreach (var produto in ProdutoList) //roda a lista de tags
                    {
                        if (vendedor.IdVendedor == produto.IdVendedor)
                        { //só mostrará as tags que estiverem ligadas com o produto acima
                            <td>@produto.Nome</td>
                        }


                    }
                </tr>
            </tbody>
        }

    </table>
</div>





@code {
    private List<Vendedor> VendedorList = new List<Vendedor>();//Criar lista de Vendedores
    private List<Produto> ProdutoList = new List<Produto>();
    protected override async Task OnInitializedAsync()
    {
        var vend1 = await Http.GetFromJsonAsync<List<Vendedor>>("/Vendedor/ListVendedores");//Rota para o controller ir e trazer uma lista das vendedores
        foreach (var item in vend1)
        {
            VendedorList.Add(item);//adiciona cada item na TagList

        }

        var produtos = await Http.GetFromJsonAsync<List<Produto>>("/Produto/Listar");
        foreach (var item in produtos)
        {
            ProdutoList.Add(item);

        }
    }
}
