@page "/TS/ListarProduto"
@using System.Net.Http
@inject HttpClient Http
@inject NavigationManager NavigationManager

<h3>Listar Produtos</h3>


<div class="card-body">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Nome</th>
                <th scope="col">Preço</th>
                <th scope="col">Descrição</th>
                <th scope="col"></th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var produto in ProdutoList)
            {
                <tr>
                    <td>@produto.Nome</td>
                    <td>@String.Format("{0, 0:C2}", produto.Preco)</td>
                    <td>@produto.Descricao</td>
                    <td>
                        <a href="/TS/EditarProduto/@produto.Id.ToString()"><button class="btn btn-success">Editar</button></a>
                        <button class="btn btn-danger" @onclick="@(() => Deletar(produto.Id))">Delete</button>
                    </td>

                </tr>
            }
        </tbody>
    </table>
</div>


@code {
    private List<Produto> ProdutoList = new List<Produto>();

    protected override async Task OnInitializedAsync()
    {
        var produtos = await Http.GetFromJsonAsync<List<Produto>>("/Produto/Listar");
        foreach (var item in produtos)
        {
            ProdutoList.Add(item);

        }
    }

    private async Task Deletar(int produtoId)
    {
        //call controller
        await Http.DeleteAsync("/Produto/Deletar/" + produtoId);
        NavigationManager.NavigateTo("TS/ListarProduto", true);
    }

}
