
<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">ProjetoTS</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="/TS/Vendedor/VendedorCadastro">
                <span class="oi oi-home" aria-hidden="true"></span> Cadastrar Vendedor
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="/TS/Vendedor/ListarVendedor">
                <span class="oi oi-plus" aria-hidden="true"></span> Listar Vendedores
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="/TS/Tag/CriarTag">
                <span class="oi oi-plus" aria-hidden="true"></span> Criar Tag
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="/TS/Produto/CadastrarProduto">
                <span class="oi oi-plus" aria-hidden="true"></span> Cadastrar Produto
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="/TS/Produto/ListarProduto">
                <span class="oi oi-plus" aria-hidden="true"></span> Lista de Produtos
            </NavLink>
        </li>

        <li class="nav-item px-3">
            <NavLink class="nav-link" href="/TS/Filtro/AddTag">
                <span class="oi oi-plus" aria-hidden="true"></span> Adicionar Tag ao Produto
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="/TS/Filtro/TodosProdutos">
                <span class="oi oi-plus" aria-hidden="true"></span> Filtro
            </NavLink>
        </li>
        @*
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="/TS/CriarTag">
                <span class="oi oi-plus" aria-hidden="true"></span> Criar Tag
            </NavLink>
        </li>
        *@
    </ul>
</div>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
