
<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">ProjetoTS</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="/TS/Perfil/Perfil">
                <span class="oi oi-plus" aria-hidden="true"></span> Perfil
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="/TS/Automovel/ListarAutomovel">
                <span class="oi oi-plus" aria-hidden="true"></span> Catálogo
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="/TS/Usuario/UsuarioCadastro">
                <span class="oi oi-home" aria-hidden="true"></span> Cadastrar Usuario
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="/TS/Tag/CriarTag">
                <span class="oi oi-plus" aria-hidden="true"></span> Criar Tag
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="/TS/Automovel/CadastrarAutomovel">
                <span class="oi oi-plus" aria-hidden="true"></span> Cadastrar Automovel
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="/TS/Filtro/AddTag">
                <span class="oi oi-plus" aria-hidden="true"></span> Adicionar Tag ao Automovel
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="/TS/Filtro/TodosAutomovels">
                <span class="oi oi-plus" aria-hidden="true"></span> Filtro
            </NavLink>
        </li>
    </ul>
</div>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
